extends layout
block content
  .container-fluid.mainContent
    section
      h1 RSVP Response
      .row-fluid
        #inviteList
    section
      h1 Registry Admin
      h2 Add Registry Item
      .row-fluid
        include includes/admin/registryForm
      h2 Registry Items
      .row-fluid
        #regAdminList
          include includes/admin/registryItemList
    section
      h1 Guest Admin
      h2 Add Menu Items
      .row-fluid
        include includes/admin/menuItems
      h2 Menu Listuu
      .row-fluid
        include includes/admin/menuList
      h2 Add Guest
      .row-fluid
        include includes/admin/guestForm
      h2 Guest List
      .row-fluid
        #guestList
          include includes/admin/inviteList
      h2 RSVP List
      .row-fluid
        #rsvpList
          include includes/admin/rsvpList

block scripts
  script(src="javascripts/libraries/jquery.fileupload.js")
  script(src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js")
  script(src="http://blueimp.github.com/JavaScript-Canvas-to-Blob/canvas-to-blob.min.js")
  script(src="javascripts/libraries/jquery.fileupload-fp.js")
  script(src="javascripts/admin.js")
