extends layout

block content
  conainer
    h1 Admin Table of Contents 
    div.well 
      a(href='rsvpadmin') RSVP Admin Screen
      br
      a(href='registryadmin') Registry Admin Screen
      br 
      a(href='menuadmin') Menu Admin Screen
      br