extends layout

block scripts
  script(src='/javascripts/index.js')

block content
  header.jumbotron.subhead
    .container
      h1= title
  .container-fluid
    .row-fluid
      .span3
        #menu.nav-sidebar
          ul(data-spy='affix')#nav.nav.nav-list.affix-top
            li
              a(href='#RSVP') RSVP
            li
              a(href='#AboutUs') Us
            li
              a(href='#WeddingParty') Wedding Party
            li
              a(href='#Venue') Venue
            li
              a(href='#Registry') Wedding Registry
            li
              a(href='#Songs') Songs
      .span9.mainContent
        .container-fluid
          section#RSVP
          h2 RSVP
          .row-fluid
          if rsvp === true
            include includes/index/rsvp
          else
            p Please enter the URL that came with your Invite to see your RSVP
          section#AboutUs
            h2 Us
            .row-fluid
              img(src='images/us800w.jpg')
          section#WeddingParty
            h2 Wedding Party
            .row-fluid
              .span6#bridesmaids
                #Cheryl.person
                  h3 Cheryl Carson
                  img(src='images/cheryl400x200.jpg')
                #Katrina.person
                  h3 Katrina Roberts
                  img(src='images/kat400x200.jpg')
                #Sparky.person
                  h3 Lyndsay Downling
                  img(src='images/sparky400x200.jpg')
              .span6#groomsmen
                #Noel.person
                  h3 Noel Rodo-Vankeulen
                  img(src='images/noel400x200.jpg')
                #Daniel.person
                  h3 Daniel Vankeulen
                  img(src='images/dan400x200.jpg')
                #Josh.person
                  h3 Josh Remai
                  img(src='images/josh/400x200.jpg')
          section#Venue
            h2 The Venue
            .row-fluid
              #Directions.span6
                address.
                  <strong>Atlantica Oak Island</strong><br>
                  36 Treasure Dr.<br>
                  Western Shore NS,<br>
                  B0J 1K0<br>
              #link.span6
                p You can find directions to the Atlantica Oak Island on their
                  a(href='http://www.atlanticaoakisland.com/en/utility/locationanddirections.aspx')  website
          section#Registry
            h2 Wedding Registry
            .row-fluid
              p Amy and I have registered our Honeymoon here:
                a(href='http://calvinandamy.ca/registry') Registry Site
          section#Songs
            h2 Wedding Songs
            p Were trying our hardest to come up with a kick ass playlist to keep us all dancing far into the night.
              | Luckily we don't have to do this alone, we've enlisted our guests in helping us get ideas of what they
              | think we should play at our wedding. Below you will find a list of what our guests are suggesting we play.
            #songList
              include includes/index/songs
block scripts
  script(src='javascripts/libraries/equalize.min.js')
