extends layout

block content
  header.jumbotron.subhead
    .container
      h1= title
  .container-fluid
    .row-fluid
      .span3#menu.nav-sidebar
        ul.nav.nav-list.affix
          li.nav-header Our Site
          li.active
            a(href='#AboutUs') About Us
          li
            a(href='#WeddingParty') Wedding Party
          li
            a(href='#Venue') Venue
          li
            a(href='#RSVP') RSVP
          li
            a(href='#Registry') Wedding Registry
          li
            a(href='#Songs') Songs
      .span9.mainContent
        .container-fluid
          section#AboutUs
            h2 About Us
            .row-fluid
              img(src='http://placekitten.com/800/200')
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                | Etiam ac turpis justo, mollis gravida tortor. Duis imperdiet dictum congue.
                | Vestibulum accumsan, arcu vitae volutpat volutpat, sapien lorem vestibulum
                | lacus, at adipiscing purus nibh sed mauris. Curabitur lacus lorem, rutrum
                | ut tincidunt in, tincidunt consequat nisl. Curabitur vel aliquam eros.
                | Mauris justo dolor, adipiscing id eleifend a, porttitor vitae dui. Quisque
                | feugiat mi et ante bibendum nec adipiscing elit commodo. Sed eget ipsum mauris,
                | vitae rhoncus lectus. Mauris laoreet justo in lectus cursus in euismod nisl semper.
                | Phasellus ultricies pretium turpis a pretium. Pellentesque at neque odio.
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                | Etiam ac turpis justo, mollis gravida tortor. Duis imperdiet dictum congue.
                | Vestibulum accumsan, arcu vitae volutpat volutpat, sapien lorem vestibulum
                | lacus, at adipiscing purus nibh sed mauris. Curabitur lacus lorem, rutrum
                | ut tincidunt in, tincidunt consequat nisl. Curabitur vel aliquam eros.
                | Mauris justo dolor, adipiscing id eleifend a, porttitor vitae dui. Quisque
                | feugiat mi et ante bibendum nec adipiscing elit commodo. Sed eget ipsum mauris,
                | vitae rhoncus lectus. Mauris laoreet justo in lectus cursus in euismod nisl semper.
                | Phasellus ultricies pretium turpis a pretium. Pellentesque at neque odio.
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                | Etiam ac turpis justo, mollis gravida tortor. Duis imperdiet dictum congue.
                | Vestibulum accumsan, arcu vitae volutpat volutpat, sapien lorem vestibulum
                | lacus, at adipiscing purus nibh sed mauris. Curabitur lacus lorem, rutrum
                | ut tincidunt in, tincidunt consequat nisl. Curabitur vel aliquam eros.
                | Mauris justo dolor, adipiscing id eleifend a, porttitor vitae dui. Quisque
                | feugiat mi et ante bibendum nec adipiscing elit commodo. Sed eget ipsum mauris,
                | vitae rhoncus lectus. Mauris laoreet justo in lectus cursus in euismod nisl semper.
                | Phasellus ultricies pretium turpis a pretium. Pellentesque at neque odio.
          section#WeddingParty
            h2 Wedding Party
            .row-fluid
              .span6#bridesmaids
                #Cheryl
                  h3 Cheryl Carson
                  img(src='http://placekitten.com/400/100')
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    | Etiam ac turpis justo, mollis gravida tortor. Duis imperdiet dictum congue.
                    | Vestibulum accumsan, arcu vitae volutpat volutpat, sapien lorem vestibulum
                    | lacus, at adipiscing purus nibh sed mauris. Curabitur lacus lorem, rutrum
                    | ut tincidunt in, tincidunt consequat nisl. Curabitur vel aliquam eros.
                    | Mauris justo dolor, adipiscing id eleifend a, porttitor vitae dui. Quisque
                    | feugiat mi et ante bibendum nec adipiscing elit commodo. Sed eget ipsum mauris,
                    | vitae rhoncus lectus. Mauris laoreet justo in lectus cursus in euismod nisl semper.
                    | Phasellus ultricies pretium turpis a pretium. Pellentesque at neque odio.
                #Katrina
                  h3 Katrina Roberts
                  img(src='http://placekitten.com/400/100')
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    | Etiam ac turpis justo, mollis gravida tortor. Duis imperdiet dictum congue.
                    | Vestibulum accumsan, arcu vitae volutpat volutpat, sapien lorem vestibulum
                    | lacus, at adipiscing purus nibh sed mauris. Curabitur lacus lorem, rutrum
                    | ut tincidunt in, tincidunt consequat nisl. Curabitur vel aliquam eros.
                    | Mauris justo dolor, adipiscing id eleifend a, porttitor vitae dui. Quisque
                    | feugiat mi et ante bibendum nec adipiscing elit commodo. Sed eget ipsum mauris,
                    | vitae rhoncus lectus. Mauris laoreet justo in lectus cursus in euismod nisl semper.
                    | Phasellus ultricies pretium turpis a pretium. Pellentesque at neque odio.
                #Sparky
                  h3 Lyndsay Downling
                  img(src='http://placekitten.com/400/100')
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    | Etiam ac turpis justo, mollis gravida tortor. Duis imperdiet dictum congue.
                    | Vestibulum accumsan, arcu vitae volutpat volutpat, sapien lorem vestibulum
                    | lacus, at adipiscing purus nibh sed mauris. Curabitur lacus lorem, rutrum
                    | ut tincidunt in, tincidunt consequat nisl. Curabitur vel aliquam eros.
                    | Mauris justo dolor, adipiscing id eleifend a, porttitor vitae dui. Quisque
                    | feugiat mi et ante bibendum nec adipiscing elit commodo. Sed eget ipsum mauris,
                    | vitae rhoncus lectus. Mauris laoreet justo in lectus cursus in euismod nisl semper.
                    | Phasellus ultricies pretium turpis a pretium. Pellentesque at neque odio.
              .span6#groomsmen
                #Noel
                  h3 Noel Rodo-Vankeulen
                  img(src='http://placekitten.com/400/100')
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    | Etiam ac turpis justo, mollis gravida tortor. Duis imperdiet dictum congue.
                    | Vestibulum accumsan, arcu vitae volutpat volutpat, sapien lorem vestibulum
                    | lacus, at adipiscing purus nibh sed mauris. Curabitur lacus lorem, rutrum
                    | ut tincidunt in, tincidunt consequat nisl. Curabitur vel aliquam eros.
                    | Mauris justo dolor, adipiscing id eleifend a, porttitor vitae dui. Quisque
                    | feugiat mi et ante bibendum nec adipiscing elit commodo. Sed eget ipsum mauris,
                    | vitae rhoncus lectus. Mauris laoreet justo in lectus cursus in euismod nisl semper.
                    | Phasellus ultricies pretium turpis a pretium. Pellentesque at neque odio.
                #Daniel
                  h3 Daniel Vankeulen
                  img(src='http://placekitten.com/400/100')
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    | Etiam ac turpis justo, mollis gravida tortor. Duis imperdiet dictum congue.
                    | Vestibulum accumsan, arcu vitae volutpat volutpat, sapien lorem vestibulum
                    | lacus, at adipiscing purus nibh sed mauris. Curabitur lacus lorem, rutrum
                    | ut tincidunt in, tincidunt consequat nisl. Curabitur vel aliquam eros.
                    | Mauris justo dolor, adipiscing id eleifend a, porttitor vitae dui. Quisque
                    | feugiat mi et ante bibendum nec adipiscing elit commodo. Sed eget ipsum mauris,
                    | vitae rhoncus lectus. Mauris laoreet justo in lectus cursus in euismod nisl semper.
                    | Phasellus ultricies pretium turpis a pretium. Pellentesque at neque odio.
                #Josh
                  h3 Josh Remai
                  img(src='http://placekitten.com/400/100')
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    | Etiam ac turpis justo, mollis gravida tortor. Duis imperdiet dictum congue.
                    | Vestibulum accumsan, arcu vitae volutpat volutpat, sapien lorem vestibulum
                    | lacus, at adipiscing purus nibh sed mauris. Curabitur lacus lorem, rutrum
                    | ut tincidunt in, tincidunt consequat nisl. Curabitur vel aliquam eros.
                    | Mauris justo dolor, adipiscing id eleifend a, porttitor vitae dui. Quisque
                    | feugiat mi et ante bibendum nec adipiscing elit commodo. Sed eget ipsum mauris,
                    | vitae rhoncus lectus. Mauris laoreet justo in lectus cursus in euismod nisl semper.
                    | Phasellus ultricies pretium turpis a pretium. Pellentesque at neque odio.
          section#Venue
            h2 The Venue
            .row-fluid
              #Directions.span6
                address.
                  <strong>Atlantica Oak Island</strong><br>
                  36 Treasure Dr.<br>
                  Western Shore NS,<br>
                  B0J 1K0<br>
              .span6
                | <iframe width="300" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=36+Treasure+Drive,+Western+Shore,+NS,+Canada&amp;aq=0&amp;oq=36+Treasure&amp;sll=44.529556,-64.307957&amp;sspn=0.057884,0.122223&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=36+Treasure+Dr,+Western+Shore,+Lunenburg+County,+Nova+Scotia+B0J+1K0,+Canada&amp;ll=44.521121,-64.308289&amp;spn=0.015758,0.03695&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=36+Treasure+Drive,+Western+Shore,+NS,+Canada&amp;aq=0&amp;oq=36+Treasure&amp;sll=44.529556,-64.307957&amp;sspn=0.057884,0.122223&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=36+Treasure+Dr,+Western+Shore,+Lunenburg+County,+Nova+Scotia+B0J+1K0,+Canada&amp;ll=44.521121,-64.308289&amp;spn=0.015758,0.03695&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
            p You can find directions to the Atlantica Oak Island on their
              a(href='http://www.atlanticaoakisland.com/en/utility/locationanddirections.aspx')  website
          section#RSVP
            h2 RSVP
              include includes/rsvpForm
          section#Registry
            h2 Wedding Registry
            .row-fluid
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                | Etiam ac turpis justo, mollis gravida tortor. Duis imperdiet dictum congue.
                | Vestibulum accumsan, arcu vitae volutpat volutpat, sapien lorem vestibulum
                | lacus, at adipiscing purus nibh sed mauris. Curabitur lacus lorem, rutrum
                | ut tincidunt in, tincidunt consequat nisl. Curabitur vel aliquam eros.
                | Mauris justo dolor, adipiscing id eleifend a, porttitor vitae dui. Quisque
                | feugiat mi et ante bibendum nec adipiscing elit commodo. Sed eget ipsum mauris,
                | vitae rhoncus lectus. Mauris laoreet justo in lectus cursus in euismod nisl semper.
                | Phasellus ultricies pretium turpis a pretium. Pellentesque at neque odio.
          section#Songs
            h2 Wedding Songs
            ul
              - for song in songs
                include includes/songs
