extends layout

block content
  h1= title
  .row-fluid
    .span2#menu.nav-sidebar
      ul(class='nav nav-list affix')
        li
          a(href='#AboutUs') About Us
        li
          a(href='#WeddingParty') Wedding Party
        li
          a(href='#Venue') Venue
        li
          a(href='#RSVP') RSVP
        li
          a(href='#Songs') Songs
    .span8#mainContent
      .container-fluid
        #AboutUs
          h2 About Us
          .row-fluid
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              | Etiam ac turpis justo, mollis gravida tortor. Duis imperdiet dictum congue.
              | Vestibulum accumsan, arcu vitae volutpat volutpat, sapien lorem vestibulum
              | lacus, at adipiscing purus nibh sed mauris. Curabitur lacus lorem, rutrum
              | ut tincidunt in, tincidunt consequat nisl. Curabitur vel aliquam eros.
              | Mauris justo dolor, adipiscing id eleifend a, porttitor vitae dui. Quisque
              | feugiat mi et ante bibendum nec adipiscing elit commodo. Sed eget ipsum mauris,
              | vitae rhoncus lectus. Mauris laoreet justo in lectus cursus in euismod nisl semper.
              | Phasellus ultricies pretium turpis a pretium. Pellentesque at neque odio.
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              | Etiam ac turpis justo, mollis gravida tortor. Duis imperdiet dictum congue.
              | Vestibulum accumsan, arcu vitae volutpat volutpat, sapien lorem vestibulum
              | lacus, at adipiscing purus nibh sed mauris. Curabitur lacus lorem, rutrum
              | ut tincidunt in, tincidunt consequat nisl. Curabitur vel aliquam eros.
              | Mauris justo dolor, adipiscing id eleifend a, porttitor vitae dui. Quisque
              | feugiat mi et ante bibendum nec adipiscing elit commodo. Sed eget ipsum mauris,
              | vitae rhoncus lectus. Mauris laoreet justo in lectus cursus in euismod nisl semper.
              | Phasellus ultricies pretium turpis a pretium. Pellentesque at neque odio.
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              | Etiam ac turpis justo, mollis gravida tortor. Duis imperdiet dictum congue.
              | Vestibulum accumsan, arcu vitae volutpat volutpat, sapien lorem vestibulum
              | lacus, at adipiscing purus nibh sed mauris. Curabitur lacus lorem, rutrum
              | ut tincidunt in, tincidunt consequat nisl. Curabitur vel aliquam eros.
              | Mauris justo dolor, adipiscing id eleifend a, porttitor vitae dui. Quisque
              | feugiat mi et ante bibendum nec adipiscing elit commodo. Sed eget ipsum mauris,
              | vitae rhoncus lectus. Mauris laoreet justo in lectus cursus in euismod nisl semper.
              | Phasellus ultricies pretium turpis a pretium. Pellentesque at neque odio.
        #WeddingParty
          h2 Wedding Party
          .row-fluid
            .span6#bridesmaids
              #Cheryl
                h3 Cheryl Carson</h3>
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  | Etiam ac turpis justo, mollis gravida tortor. Duis imperdiet dictum congue.
                  | Vestibulum accumsan, arcu vitae volutpat volutpat, sapien lorem vestibulum
                  | lacus, at adipiscing purus nibh sed mauris. Curabitur lacus lorem, rutrum
                  | ut tincidunt in, tincidunt consequat nisl. Curabitur vel aliquam eros.
                  | Mauris justo dolor, adipiscing id eleifend a, porttitor vitae dui. Quisque
                  | feugiat mi et ante bibendum nec adipiscing elit commodo. Sed eget ipsum mauris,
                  | vitae rhoncus lectus. Mauris laoreet justo in lectus cursus in euismod nisl semper.
                  | Phasellus ultricies pretium turpis a pretium. Pellentesque at neque odio.
              #Katrina
                h3 Katrina Roberts
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  | Etiam ac turpis justo, mollis gravida tortor. Duis imperdiet dictum congue.
                  | Vestibulum accumsan, arcu vitae volutpat volutpat, sapien lorem vestibulum
                  | lacus, at adipiscing purus nibh sed mauris. Curabitur lacus lorem, rutrum
                  | ut tincidunt in, tincidunt consequat nisl. Curabitur vel aliquam eros.
                  | Mauris justo dolor, adipiscing id eleifend a, porttitor vitae dui. Quisque
                  | feugiat mi et ante bibendum nec adipiscing elit commodo. Sed eget ipsum mauris,
                  | vitae rhoncus lectus. Mauris laoreet justo in lectus cursus in euismod nisl semper.
                  | Phasellus ultricies pretium turpis a pretium. Pellentesque at neque odio.
              #Sparky
                h3 Lyndsay Downling
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  | Etiam ac turpis justo, mollis gravida tortor. Duis imperdiet dictum congue.
                  | Vestibulum accumsan, arcu vitae volutpat volutpat, sapien lorem vestibulum
                  | lacus, at adipiscing purus nibh sed mauris. Curabitur lacus lorem, rutrum
                  | ut tincidunt in, tincidunt consequat nisl. Curabitur vel aliquam eros.
                  | Mauris justo dolor, adipiscing id eleifend a, porttitor vitae dui. Quisque
                  | feugiat mi et ante bibendum nec adipiscing elit commodo. Sed eget ipsum mauris,
                  | vitae rhoncus lectus. Mauris laoreet justo in lectus cursus in euismod nisl semper.
                  | Phasellus ultricies pretium turpis a pretium. Pellentesque at neque odio.
            .span6#groomsmen
              #Noel
                h3 Noel Rodo-Vankeulen
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  | Etiam ac turpis justo, mollis gravida tortor. Duis imperdiet dictum congue.
                  | Vestibulum accumsan, arcu vitae volutpat volutpat, sapien lorem vestibulum
                  | lacus, at adipiscing purus nibh sed mauris. Curabitur lacus lorem, rutrum
                  | ut tincidunt in, tincidunt consequat nisl. Curabitur vel aliquam eros.
                  | Mauris justo dolor, adipiscing id eleifend a, porttitor vitae dui. Quisque
                  | feugiat mi et ante bibendum nec adipiscing elit commodo. Sed eget ipsum mauris,
                  | vitae rhoncus lectus. Mauris laoreet justo in lectus cursus in euismod nisl semper.
                  | Phasellus ultricies pretium turpis a pretium. Pellentesque at neque odio.
              #Daniel
                h3 Daniel Vankeulen</h3>
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  | Etiam ac turpis justo, mollis gravida tortor. Duis imperdiet dictum congue.
                  | Vestibulum accumsan, arcu vitae volutpat volutpat, sapien lorem vestibulum
                  | lacus, at adipiscing purus nibh sed mauris. Curabitur lacus lorem, rutrum
                  | ut tincidunt in, tincidunt consequat nisl. Curabitur vel aliquam eros.
                  | Mauris justo dolor, adipiscing id eleifend a, porttitor vitae dui. Quisque
                  | feugiat mi et ante bibendum nec adipiscing elit commodo. Sed eget ipsum mauris,
                  | vitae rhoncus lectus. Mauris laoreet justo in lectus cursus in euismod nisl semper.
                  | Phasellus ultricies pretium turpis a pretium. Pellentesque at neque odio.
              #Josh
                h3 Josh Remai
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  | Etiam ac turpis justo, mollis gravida tortor. Duis imperdiet dictum congue.
                  | Vestibulum accumsan, arcu vitae volutpat volutpat, sapien lorem vestibulum
                  | lacus, at adipiscing purus nibh sed mauris. Curabitur lacus lorem, rutrum
                  | ut tincidunt in, tincidunt consequat nisl. Curabitur vel aliquam eros.
                  | Mauris justo dolor, adipiscing id eleifend a, porttitor vitae dui. Quisque
                  | feugiat mi et ante bibendum nec adipiscing elit commodo. Sed eget ipsum mauris,
                  | vitae rhoncus lectus. Mauris laoreet justo in lectus cursus in euismod nisl semper.
                  | Phasellus ultricies pretium turpis a pretium. Pellentesque at neque odio.
        #Venue
          h2 The Venue
          #Map
          #Directions
            address
              strong Atlantica Oak Island
              br
              36 Treasure Dr.
              br
              Western Shore NS,
              br
              B0J 1K0
            p You can find directions to the Atlantica Oak Island on their
              a(href='http://www.atlanticaoakisland.com/en/utility/locationanddirections.aspx')  website
        #RSVP
          h2 RSVP
          form(action='POST')#RSVPForm
        #Registry
          h2 Wedding Registry
          .row-fluid
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              | Etiam ac turpis justo, mollis gravida tortor. Duis imperdiet dictum congue.
              | Vestibulum accumsan, arcu vitae volutpat volutpat, sapien lorem vestibulum
              | lacus, at adipiscing purus nibh sed mauris. Curabitur lacus lorem, rutrum
              | ut tincidunt in, tincidunt consequat nisl. Curabitur vel aliquam eros.
              | Mauris justo dolor, adipiscing id eleifend a, porttitor vitae dui. Quisque
              | feugiat mi et ante bibendum nec adipiscing elit commodo. Sed eget ipsum mauris,
              | vitae rhoncus lectus. Mauris laoreet justo in lectus cursus in euismod nisl semper.
              | Phasellus ultricies pretium turpis a pretium. Pellentesque at neque odio.
        #Songs
          h2 Wedding Songs
          ul
            - for song in songs
              include includes/songs
