doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/registry.css')
  body
    block content
    a(href='/login.html') Login
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/jquery.masonry.min.js')
    script(src='/javascripts/registry.js')

