doctype 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='http://zacstewart.github.com/Meow/jquery.meow.css')
    block stylesheets
  body
    block navbar
    .dropdown
      a(href='#', data-toggle='dropdown')
        i.fui-gear
      ul(role='menu').dropdown-menu
        if loggedIn
          li
            a(href='/admin') Admin
          li
            a(href='/logout') Logout
        else
          li
            a(href='/login') Login
    block content
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='http://code.jquery.com/ui/1.10.2/jquery-ui.js')
    script(src='/javascripts/libraries/bootstrap.min.js')
    script(src='http://zacstewart.github.com/Meow/jquery.meow.js')
    script(src='/javascripts/icon-font-ie7.js')
    script(src='/javascripts/global.js')
    block scripts
