extends layout
block stylesheets
block content
    ul.nav
      li
        a(href='registryadmin') Registry Admin
      li
        a(href='menuadmin') Menu Admin
      li
        a(href='guestadmin') Guest Admin
    .mainContent.container-fluid
        h1 Menu Admin
        h2 Add Menu Items
        .row-fluid
          form(method='post', action='/menuItem').form-horizontal.well.offset3.span6#menuItemForm
            form-set
              legend Add Menu Item
                .control-group
                  label(for='name').control-label Name
                  .controls
                    input(type='text', name='name').menu-item
                .control-group
                  label(for='course').control-label Course
                  .controls
                    select(name='course')
                      option(value='Appetizer') Appetizer
                      option(value='Entree') Entree
                      option(value='Dessert') Dessert
                .control-group
                  .controls
                    button(type='submit').btn Add Item
        h2 Menu List
        .row-fluid
          table.table.table-hover.table-condensed
            thead
              tr
                th Name
                th Course
                th Actions
            tbody
              - each menuItem in menuItems
                tr
                th #{menuItem.name}
                th #{menuItem.course}
                th
                  .btn-group
                    a(href='/menuItem/delete/#{menuItem._id}').btn
                      i.icon-remove
block scripts

