extends layout
block content
  .mainContent.container-fluid
    h1 Uh oh   (╯°□°）╯︵ ┻━┻
    p.lead Something went wrong.
    img(src='http://placekitten.com/1024/100')
    br
    a(href='mailto=calvinv@gmail.com')
      i.icon-envelope
      strong.text-center calvinv@gmail.com
    hr
    p If you were in the middle of rsvping, just shoot me an email.
    hr
    p If you were purchasing a registry item, don't worry I didn't write the code that charges your credit card
    | it was written by a company that has to follow government regulations and standards and uses secure connections
    | and boring stuff like that.
    p You can just shoot me an email and I can tell you if you were charged for the item, as well as fix anything that
    | may have gone wrong with the process.

    blockquote
      p He may not be perfect but he sure is handsome
      small Amy Schroeder

