extends layout
block content
  .container-fluid.mainContent
    section
      h1 Registry Admin
      include includes/admin/registryForm
      #regAdminList
    section
      h1 Invite Admin
      include includes/admin/guestForm
      #inviteList
    section
      h1 Guests
      #guestList

block scripts
  script(src='/javascripts/admin.js')
