extends layout
block content
  form(action='/registryAdmin', method='post')
    formset
      legend Add Registry Item
      label(for ='name') Title:
      input(type='text', name='name', placeholder='Name').name
      label(for = 'description') Description:
      input(type='textarea', rows='3',  name='description', placeholder='Description').description
      lable(for='price') Price:
      div(class='input-prepend input-append')
        span(class='add-on') $
        input(type='text', name='price', placeholder='Price').price
        span(class='add-on') .00
      button(type='submit') Add New Item

  formset
    legend Registry Items
    - each item in items
      p Name: #{item.name} Description: #{item.dsecription} Price: #{item.price}