extends layout
block scripts
  script(src='/javascripts/admin.js')


block content
  .container-fluid.mainContent
    section
      h1 RSVP Response
      .row-fluid
        #inviteList
    section
      h1 Registry Admin
      h2 Add Registry Item
      .row-fluid
        include includes/admin/registryForm
      h2 Registry Items
      .row-fluid
        #regAdminList
          include includes/admin/registryAdminList
    section
      h1 Guest Admin
      h2 Add Menu Items
      .row-fluid
        include includes/admin/menuItems
      h2 Menu List
      .row-fluid
        include includes/admin/menuList
      h2 Add Guest
      .row-fluid
        include includes/admin/guestForm
      h2 Guest List
      .row-fluid
        #guestList
          include includes/admin/inviteList
