extends layout
block content
  .container-fluid.mainContent
    section
      h1 Registry Admin
      include includes/admin/registryForm
      include includes/admin/registryAdminList
    section
      h1 Guest Admin
      include includes/admin/guestForm
//include guestAdminList
