form(action='/guest', method='post').form-horizontal.well.offset3.span6
  formset
    legend Add Guest
      .contol-group
        label(for='name').control-label Name:
        .controls
          input(type='text', name='name').name
      .control-group
        label(for='guests').control-label Number of Guests:
        .controls
          input(type='number', min=0, max=10, name='guests').guests
      .control-group
        .controls
          button(type='submit').btn Add Guest