form(method='post', action='/menuItem').form-horizontal.well.offset3.span6#menuItemForm
  form-set
    legend Add Menu Item
      .control-group
        label(for='name').control-label Name
        .controls
          input(type='text', name='name').menu-item
      .control-group
        label(for='course').control-label Course
        .controls
          select(name='course')
            option(value='Appetizer') Appetizer
            option(value='Entree') Entree
            option(value='Dessert') Dessert
      .control-group
        .controls
          button(type='submit').btn Add Item
