#menu.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      a(data-toggle="collapse",data-target=".nav-collapse").btn.btn-navbar
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="#").brand #{title}
      .nav-collapse.collapse
        ul#nav.nav
          li
            a(href='rsvpadmin') RSVP Admin Screen
          li
            a(href='registryadmin') Registry Admin Screen
          li
            a(href='menuadmin') Menu Admin Screen
          li
            a(href='/logout') Logout
