-each rsvp in rsvps
  p Name: rsvp.name Meal Choice: rsvp.appetizer rsvp.entree rsvp.dessert Song rsvp.Song
  - each rsvpguest in rsvpguests
    p Guest Name: rsvpguest.name Meal Choice: rsvp.appetizer rsvp.entree rsvp.dessert
