p Coming : #{coming}
  - console.log(guests)
  each guest in guests
    - console.log(guest)
    h3 #{guest.name}
    p Special Requirements :
      if (guest.specialRequirements === "")
        | None
      else
        | #{guest.specialRequirements}
    h4 Menu
    p Entree: #{guest.menu.entree}
    hr
