@font: 'Lato', sans-serif;
@peter_river: #3498db;
@belize_hole: #2980b9;
@asbestos: #7f8c8d;
@concrete: #95a5a6;

h1 {
  font-family: @font;
}

body {
  font: @font;
  background-color: @peter_river;
  color: #ffffff;
}

.thumbnail{
  background-color: #ffffff;
}

#RegistryContents {
  text-align: center;
}

#RegistryContents > li {
  display: inline-block;
  *display: inline; /* ie7 fix */
  float: none; /* this is the part that makes it work */
}

a {
  color: #00B7FF;
}

.item {
  margin: 10px;
}

.item .image {
  width: 100%;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;

  .form-signin-heading {
    margin-bottom: 10px;
  }
  .form-signin input[type="text"], .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }
}

.jumbotron {
  margin-left: 0px;
  margin-right: 0px;
  background: url('/images/blue.png') no-repeat scroll center;
  background-color: @belize_hole;
  position: relative;
  top: -70px;
  padding-top:250px;
  padding-bottom:190px;
  color: #fff;
  text-align: center;
  .jumbotron h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
  }
}
#Venue {
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: @asbestos;
}
