h1 {
  font-family: 'Lato', sans-serif;
}
body {
  font: 'Lato', sans-serif;
  background-color: #2980b9;
  color: #ffffff;
}
a {
  color: #00B7FF;
}
.invite {
  border: 2px none;
}
.well {
  background: #ffffff;
  color: #2c3e50;
}
.jumbotron {
  top: 60px;
  margin-left: 0px;
  margin-right: 0px;
  background: url('/img/blue.png') no-repeat scroll center;
  background-color: #2980b9;
  position: relative;
  padding-top: 225px;
  padding-bottom: 190px;
  color: #fff;
  text-align: center;
}
.jumbotron h1 {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 1;
}
.brand {
  text-decoration: none;
}
.resize {
  margin-left: 40px;
  margin-right: 20px;
}
.bgwhite {
  color: #2c3e50;
  background-color: #ffffff;
}
.bggrey {
  background-color: #7f8c8d;
}
.background {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: -20px;
  margin-right: -20px;
  border: medium none;
}
