body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/random_grey_variations.png');
  background-color: #1A6A82;
}

.container {
  background-color: #FFFFFF;
}

a {
  color: #00B7FF;
}

.item {
  width: 100px;
  margin: 5px;
  padding: 10px;
  float: left;
}
