form(action='/rsvp', method='post').form-horizontal
  .control-group
    label(for='name').control-label Name:
    .controls
      input(type='text').name
  .control-group
  .control-group
    label(for='song').control-label Song
    .controls
      input(type='text').song