.control-group
  label.control-label item.name
  .controls
    each course in menu.appetizer
      label.radio.inline #{course.name}
        input(type='radio', name='#{item.name}-#{i}', value='#{course.name}')
